@font-face {
  font-family: "FiraCode";
  src: url(./fonts/FiraCode-Regular.woff);
  font-weight: normal;
}

@font-face {
  font-family: "FiraCode";
  src: url(./fonts/FiraCode-Bold.woff);
  font-weight: bold;
}

body {
  font-family: FiraCode;
}
